@charset "utf-8";
/* CSS Document */
body { font: 12px/1.5 Tahoma, Helvetica, Arial, 'MicroSoft Yahei', sans-serif }
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0; padding: 0 }
table { border-collapse: collapse;  /*重叠边框合并*/ border-spacing: 0  /*边框间距为0*/ }
fieldset, img { border: none /*边框为0*/ }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: 400 }
li { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
a { text-decoration: none; }
button, input, select, textarea {
*font-size:100%; font: 100% 'MicroSoft YaHei', Tahoma, Helvetica, Arial, sans-serif }
table { font: 100% }
body { }
.clearfix:after { height: 0; content: " "; clear: both; visibility: hidden; width: 100%; }
.clearfix { zoom: 1; clear: both; }
.left { float: left; }
.right { float: right; }
/*......................................................*/
.conunt-bg { width: 1200px; margin: 0 auto; max-width: 1200px; overflow: hidden; }
.fs16 { font-size: 16px; }
.text-l { text-align: left; }
.text-c { text-align: center; }
.text-r { text-align: right; }
.gray-color { color: #646667; }
.red-color { color: #fc5b62; }
.blue-color { color: #31a1e2; }
.conunt-top { height: 50px; line-height: 50px; }
.money { color: #fc5b62; font-size: 24px; }
.conunt-top span { display: inline-block }
.conunt-top2 { clear: both; }

.outside { width: 25px; height: 25px; border-radius: 15px; background: #31a1e2; color: #fff; display: inline-block; text-align: center; line-height: 25px; }
.fege-line { width: 100%; height: 1px; background: #dddfe1; margin: 15px 0; clear: both; }
.info-cont { height: 20px; line-height: 20px; padding-bottom:10px;}
.con_below { width: 1200px; margin-top: 20px; border-top: #4b5a79 solid 8px;margin:0 auto;}

/*......................................................*/
.warp-1200{ width:1200px; margin:0 auto; clear:both; overflow:hidden;}

.con_pi2{margin-left:40px;}



.con_pi2 {margin-left: 343px; margin-top: -300px;  right:0; bottom:225px; }
.con_pi2 p{font-size:13px;margin-top:-90px;margin-left:250px;}
.con_pi2 p a{font-size:15px;color:#ff6600;}